body,html{
    margin: 0;
    padding: 0;
    position: absolute;
    top:0;
}
.nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.fcca{
  display:flex;
  background-color: white;
  gap: 20px;  
  width: 1700px;
  align-items: center;
}
#regbutton{
    border-radius: 300px;
    width: 100px;
    height: 45px;   
}
.all-content{
    display:flex;
    margin: 30px;
    padding: 70px;
    margin-right: 10px;
    justify-content: space-around;
}
#hero{
    width: 700px;
    height: 700px;
    align-items:flex-end;
}
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#lbutton{
    border-radius: 700px;
    width: 150px;
    height: 45px; 
    background-color: black;  
    color:white;
}
.remote img{
    margin-top: 40%;
    align-items: center;
    gap: 10px;
}
.login{
    text-align:right;
}
.right{
    justify-content: space-around;
    align-items: center;
    display: flex;
    gap: 50px;
}

